@import "tailwindcss";

@import "@schedule-x/theme-default/dist/index.css";

@import "../styles/theme.css";
@import "../styles/calendar.css";
@import "../styles/fonts.css";
@import "../styles/variables.css";
@import "../styles/accordion.css";

:root {
  --background-color: #EDE8D5;
  --text-primary: #16261B;
  --sidebar-width-icon: 6rem;
}

body {
  background: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-body), sans-serif;
}

[data-radix-popper-content-wrapper] {
  border: none !important;
}

[role="listbox"] {
  border: none !important;
}

/* * {
  outline: 1px solid red;
} */