@import "tailwindcss";
@import "../styles/fonts.css";
@import "../styles/theme.css";
@import "../styles/variables.css";

:root {
  --background-color: #EDE8D5;
  --text-primary: #16261B;
  --sidebar-width-icon: 6rem;
}

body {
  background: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-body), sans-serif;
}

#calendar .sx-react-calendar-wrapper {
  height: 100%;
}

#calendar .sx__calendar {
  height: 100%;
}

/* * {
  outline: 1px solid red;
} */