@theme inline {
    --font-body: var(--font-dm-sans);
    --color-primary: var(--text-primary);

    --color-header-bg: #ffffff;
    --color-header-border: #EDE8D5;

    --color-secondary: #fff;
    --color-tertiary: rgba(255, 255, 255, 0.6);
    --color-quaternary: #A89B7A;
    --color-quinary: #1E3324;
    --color-senary: #8B6F5E;
    --color-grid-day-hover: #DDD6FF;

    --color-cta-bg: #EDE8D5;
    --color-cta-bg-hover: #E3DCC4;
    --color-cta-link: #2D4A35;

    --color-cta-modal: #2D4A35;
    --color-cta-modal-secondary: #FB2C36;

    --color-cta-modal-hover: #3a5c44;
    --color-cta-hover-secondary: #E0141F;
    --color-data-hover-primary: #F7F3EC;
    --color-cta-link-active: #2D4A35;
    --color-strip: #EDE8D5;

    /*? ModalEvent */
    --color-modal-event-bg: #ffffff;
    --color-modal-icon-close: #8B6F5E;
    --color-modal-title: #16261B;
    --color-modal-text: #2D4A35;

    /*? SideBar */
    --color-sidebar: #2D4A35;
    --color-side-bar-icon: rgba(255, 255, 255, 0.6);
    --color-icon-bg: rgba(255, 255, 255, 0.15);
    --color-hover-link: rgba(255, 255, 255, 0.2);

    /*? Event Stats */
    --color-border-event-stats: #EDE8D5;
    --color-event-stats-bg: #F7F3EC;
    --color-border-event: #DDD6FF;

    /*? Event Form */
    --color-input-bg: #F7F3EC;
    --color-border-input: #F7F3EC;
    --color-input-focus: #7CA982;
    --color-form-btn-event: #2D4A35;
    --color-form-event-active: #7CA982;
    --color-hover-event: #F7F3EC;


    --color-calendar-title: #16261B;
    --color-calendar-icon: #7CA982;
    --color-ext-view-toggle: #7CA982;
    --color-calendar-arrow: #7CA982;
    --color-calendar-toggle: #2D4A35;
    --color-header-border: #EDE8D5;

    /*? Header Team */
    --color-team-title: #16261B;

    --color-footer-border: rgba(255, 255, 255, 0.10);
    --color-footer: rgba(255, 255, 255, 0.7);
    --color-sidebar-hover-link: rgba(255, 255, 255, 0.2);
    --color-sidebar-bg-calendar: #fff;
    --sidebar-width-icon: 6rem;

    /*? Accordion Team */
    --color-accordion-border: #EDE8D5;
    --color-accordion-title: #16261B;
    --color-accordion-role: #A89B7A;
    --color-accordion-chevron: #A89B7A;
    --color-acc-dot: #C5BCED;

    --animate-accordion-down: accordion-down 0.3s ease-out;
    --animate-accordion-up: accordion-up 0.3s ease-out;
}