@theme inline {
    --font-body: var(--font-dm-sans);
    --color-primary: var(--text-primary);

    --color-secondary: #fff;
    --color-tertiary: rgba(255, 255, 255, 0.6);
    --color-quaternary: #A89B7A;

    --color-sidebar: #2D4A35;
    --color-side-bar-icon: rgba(255, 255, 255, 0.6);
    --color-icon-bg: rgba(255, 255, 255, 0.15);
    --color-hover-link: rgba(255, 255, 255, 0.2);

    --color-footer-border: rgba(255, 255, 255, 0.10);
    --color-footer: rgba(255, 255, 255, 0.7);

    --color-sidebar-hover-link: rgba(255, 255, 255, 0.2);

    --color-sidebar-bg-calendar: #fff;

    --sidebar-width-icon: 6rem;
}